form{
    display: flex;
    justify-content: center;
}
.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}


.box {
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: white;
    border: 3px solid whitesmoke;
    box-shadow: 15px 15px 15px   darkgrey;
    ;
    animation: slide-in 1s
}


